@{
    ViewData["Title"] = "メニュー";
    var userName = ViewBag.UserName as string;
    var userKbn = ViewBag.UserKbn as string;
    string[] kbnNames = { "", "提案者", "一次審査者", "総務課長", "局総務課", "二次審査者", "庁総務課", "三次審査者" };
}

@section Scripts {
    <script src="~/js/Menu.js"></script>
}
<form asp-action="Menu" asp-controller="Menu" method="post">
    <h2 class="text-center mb-4">提案書作成提出システム メニュー</h2>
    <div class="mb-3 mt-2 text-end">
        <a href="/proposal/logout" class="btn btn-outline-danger btn-sm">ログアウト</a>
    </div>

    <div class="d-grid gap-3">
        <button id="teianshosakuseiMenu" class="btn btn-outline-primary btn-lg">提案書作成 メニュー</button>
        <div id="teianshosakuseiMenu-submenu" class="ms-4 d-grid gap-2" style="display: none;">
            <a href="/proposal/create" class="btn btn-outline-success btn-md">① 提案書作成</a>
            <a asp-controller="ProposalList" asp-action="ProposalList" class="btn btn-outline-success btn-md">② 提案書一覧</a>
        </div>

        <button id="ichijishinnsakanrishaMenu" class="btn btn-outline-primary btn-lg">一次審査・管理者メニュー</button>
        <div id="ichijishinnsakanrishaMenu-submenu" class="ms-4 d-grid gap-2" style="display: none;">
            <a href="/proposal/ichijishinnsanyuryoku" class="btn btn-outline-success btn-md">③ 一次審査入力</a>
            <a href="/proposal/list" class="btn btn-outline-success btn-md">④ 提案書一覧</a>
        </div>

        <button id="nichijishinnsakanrishaMenu" class="btn btn-outline-primary btn-lg">二次審査メニュー</button>
        <div id="nichijishinnsakanrishaMenu-submenu" class="ms-4 d-grid gap-2" style="display: none;">
            <a href="/proposal/nichijishinnsanyuryoku" class="btn btn-outline-success btn-md">⑤ 二次審査入力</a>
        </div>

        <button id="kyokukannrishaMenu" class="btn btn-outline-primary btn-lg">局管理者メニュー</button>
        <div id="kyokukannrishaMenu-submenu" class="ms-4 d-grid gap-2" style="display: none;">
            <a href="/proposal/kakusyusettei" class="btn btn-outline-success btn-md">⑥ 各種設定・メンテナンス</a>
            <a href="/proposal/list" class="btn btn-outline-success btn-md">⑦ 提案書一覧</a>
        </div>

        <button id="sanjishinnsaMenu" class="btn btn-outline-primary btn-lg">三次審査メニュー</button>
        <div id="sanjishinnsaMenu-submenu" class="ms-4 d-grid gap-2" style="display: none;">
            <a href="/proposal/sanjishinnsanyuryoku" class="btn btn-outline-success btn-md">⑧ 三次審査入力</a>
        </div>

        <button id="chokannrishaMenu" class="btn btn-outline-primary btn-lg">庁管理者メニュー</button>
        <div id="chokannrishaMenu-submenu" class="ms-4 d-grid gap-2" style="display: none;">
            <a href="/proposal/kakusyusettei" class="btn btn-outline-success btn-md">⑨ 各種設定・メンテナンス</a>
            <a href="/proposal/list" class="btn btn-outline-success btn-md">⑩ 提案書一覧</a>
        </div>

        <button id="kensakuMenu" class="btn btn-outline-primary btn-lg">検索メニュー<</button>
        <div id="kensakuMenu-submenu" class="ms-4 d-grid gap-2" style="display: none;">
            <a href="/proposal/kensaku" class="btn btn-outline-success btn-md">⑪ 過去事情の検索・照会</a>
        </div>

    </div>
</form>